
#projects {
    width: 100%;
    height: 100vh;

    .col-8 {
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        justify-content: center;
        align-items: center;

        h2 {
            margin-top: 10vh;
        }

        .col-12 {
            margin-top: 5%;
            height: 35%;
            display: flex;
            flex-wrap: wrap;

            .col-6 {
                width: 50%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }
            .col-6:hover img {
                transition: .3s ease-in-out;
                margin-top: 5%;
                width: 80%;
                height: 80%;
                border-radius: 10px;
            }

        }
    }
}

@media (max-width: 550px) {
    
#projects {
    height: auto;
    .col-8 {


        .col-12 {
            display: inline-block;
            .col-6 {
                width: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }


        }
    }
}
}