


#footer {

    width: 100%;
    height: 7vh;
    background-color: rgba(0, 0, 0, 0.925);

    .col-12 {
        height: 50%;
        

        h5 {
            font-size: 14px;
            font-weight: 300;
            color: white;
            text-align: center;
        }

    }
}