
#about {
    width: 100%;
    height: 110vh;
    background-color: white;

    .col-12 {
        position: absolute;
        height: 50%;
        background-image: linear-gradient(to right top, #051937, #003a5c, #005e79, #008388, #21a88b);
        background-image: url(./fundo.jpg);
        background-color: black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        h2 {
            width: 50%;
            margin: auto;
            font-size: 2rem;
            margin-top: 1%;
            color: rgb(0, 0, 0);
            background-color: rgba(255, 255, 255, 0.548);
        }
        h3 {
            font-size: 1rem;
            font-weight: bolder;
            margin-top: 4%;
            color: orange;
        }

        .container {
            display: flex;
            margin-top: 2%;
            .col-4 {
                height: 70%;
                margin-top: 2%;
            }
            img {
                width: 100px;
            }
            h4 {
                width: 60%;
                margin-left: auto;
                margin-right: auto;
                font-size: 1rem;
                color: rgba(255, 68, 0, 0.712);
                margin-top: 2vh;
            }
        }
    }
    .col {
        width: 100%;
        position: absolute;
        height: 50%;
        margin-top: 50vh;
        

        h2 {
            margin-top: 1vh;
        }
        h3 {
            font-size: 1rem;
            font-weight: bolder;
            color: orangered;
            margin-top: 7vh;
        }
        .container {
            height: 50%;
            width: 90%;
            margin-top: 5vh;
            margin-left: 17%;
            margin-right: 17%;
            

            .Col {
                margin-top: 2vh;
                height: 38vh;
                box-shadow: rgba(149, 157, 165, 0.048) 0px 8px 24px;
                border-radius: 5px;
                margin-left: auto;
                margin-right:  auto;
                cursor: pointer;

                h3 {
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: rgba(37, 36, 36, 0.897);
                }
                img {
            
                    margin-top: 2.5vh;
                }
            }
            .Col:hover {
                box-shadow: rgba(56, 57, 58, 0.493) 0px 8px 24px;
            }
        }
    }
}
@media (max-width: 1550px) {
    #about {
    
        .col {

            .container {
                margin-left: 10%;
                margin-right: 10%;

            }
        }
    }
}

@media (max-width: 1450px ) {
    #about {

    
        .col-12 {

            h2 {
                font-size: 2rem;
                margin-top: 10%;
            }
            h3 {
                font-size: 1.5rem;
                font-weight: 300;
            }
    
            .container {
                margin-top: 7%;
                img {
                    width: 120px;
                }
            }
        }
        .col {

            .container {
                height: 50%;
                width: 90%;
                margin-top: 5vh;
                margin-left: 10%;
                margin-right: 10%;

            }
        }
       
    }
}
@media (max-width: 850px) {
    #about {
        width: 100%;
        height: 110vh;
        background-color: white;
    
        .col {

            .container {
                height: 50%;
                width: 90%;
                margin-top: 5vh;
                margin-left: 10%;
                margin-right: 10%;

            }
        }
    }
}

@media (max-width: 550px ) {
    #about {
        width: 100%;
        height: auto;
        .col-12 {
            width: 100%;
            height: auto;
            margin-left: 0vh;
            h2 {
                font-size: 1.2rem;
                margin-top: 20%;
            }
            h3 {
                font-size: 1rem;
                font-weight: 300;
            }
            .container {
                height: 25vh;
                display: inline;
                margin-left: 0vh;
                
                .col-4 {
                    width: 100%;
                    height: 70%;
                    margin-left: 0vh;
                    margin-top: 15%;
                }
                img {
                    width: 100px;
                }

            }
        }

        .col {
            height: auto;
            margin-top: 105vh;
    
            .container {
                height: 70%;
                margin-left: auto;
                margin-right: auto;
                
    
                .Col {
                    width: 100px;
                    border: none;
                    height: 100%;
                    margin-top: 5vh;
                    
                  
                }
            }
        }
    }
}

@media (max-width: 400px ) {
    #about {
        .col-12 {
            height: auto;
        }
        .col {

            height: auto;
            margin-top: 95vh;
    
            .container {
                height: 70%;
    
                .Col {
                    width: 100%;
                    border: none;
                    height: 100%;
                    margin-top: 5vh;
                  
                }
            }
        }
    }
}