

#contact {
    width: 100%;
    height: 100vh;

    .col-12 {
        height: 50%;

        .box {
            width: 70%;
            height: 40%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10vh;
            display: flex;

            .col-3 {
                height: 100%;
                margin-left: auto;
                margin-right: auto;
                cursor: pointer;

                img {
                    width: 70px;
                }
                .text {
                    width: 100%;
                    height: 30%;
                    margin-top: 5%;
                    font-weight: 100;

                }
            }
        }
    }

    .redes {
        height: 50%;
        background-color: blue;
    }
}

@media (max-width: 550px) {
    #contact {
    
        .col-12 {
            
            .box {
    
                .col-3 {
                    img {
                        width: 40px;
                    }
                }
                .text {
                    h3 {
                        font-size: 1rem;
                        font-weight: 100;
                    }
                }
            }
        }

    }
}